$var1: #f6f8fd;
$var2: #333d47;
$var3: #e5e5e5;
$var4: #ffffff;
$var5: #dae1e8;
$var6: #f1f2f7;
$var7: #225fbf;
$var8: #5495ff;
$var9: #afb7bf;
$var10: #1753b3;
$var11: #333333;
$var12: #fafafa;
$var13: #ededf0;
$var14: #4c88e8;
$var15: #cccccc;
$var16: #ff0000;
$var17: #3fad44;
$var18: #818d99;
$var19: #a7acaf;
